@media(max-width:800px){
    .list{
        flex-direction: column;
        position: absolute;
        top: -470px;
        right: 20px;
        transition: 1s;


    }
    .header{
        position: relative;
    }
    .label{
        display: block;
        position: absolute;
        left: 20px;
    }
    .labell{
        display: block;
    }
    #menu:checked ~ .list{
     top: 10px;
    }
    .label:hover{
        color:#85CCDC;

    }
    
}
@media(max-width:1200px){
    .header{
        background-position: center;
    }
}
