* {
    box-sizing: border-box;
}

:root {
    --r700: 'RobotoCondensed-bold';
    --r300: 'RobotoCondensed-light';
    --r400: 'RobotoCondensed-regural';
    --oq: #fff;
    --qora:  #0E0E0E;
}

.text {
    font-family: var(--r700);

}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

.header {
    background-image: url(../img/header.jpg);
    height: 100vh;
    
    background-size: cover;
    position: relative;
    display:flex;
    flex-direction:column;


}

.nav {
 
   



}

.link{
    color: var(--oq);
    font-family: var(--r400);
    font-size: 36px;
    text-decoration: none;
    transition: 0.5s;
    position: relative;
    


}
.link:hover{
    color: #85CCDC;;
}
.list span::after {
    content: '';
    bottom: 0;
    transform: scale(0);
    display: block;
    width: 100%;
    height: 2px;
    background: #85CCDC;

    border-radius: 100px;
    position: absolute;
    transition: .5s;

}

.list span:hover::after {
    transform: scale(1);
}


.imges{
    display: flex;
    justify-content: center;
    align-items:center;
    flex-grow:1;
    
   
  
    
    
}

.cata_img{
    max-width: 775px;
    width: 100%;    
}
.img{
    max-width:850px;
    width:100%
    
}
.header::after{
    content:'' ;
    position: absolute;
    background: linear-gradient(180deg, #0E0E0E 0%, rgba(17, 17, 17, 0.850295) 16.53%, rgba(32, 31, 33, 0) 100%);
    transform: rotate(180deg);
    bottom: 0;
    width: 100%;
    
    height: 70px;

}
.header::before{
    content: '';
    position: absolute;
      background: linear-gradient(180deg, #111213 0%, #111213 43.62%, rgba(32, 31, 33, 0) 86.33%);
      top: 0;
      width: 100%;
      height: 70px;


}
.list{
    z-index: 1;
}
.item_list{
    width: 205px;
    
}
.item-discription{
    font-family: var(--r400);
    font-size: 18px;
    color:  #E5E5E5;
}
.section{
background-color: var(--qora);
padding: 100px 0px 104px 0px;
}
.section_title{
    font-size: 36px;
    color: var(--oq);
    font-family: var(--r400);
    margin-bottom: 100px;
}
.text_discription{
    font-family: var(--r400);
    font-size: 18px;
    line-height: 21px;
    color: var(--oq);
    max-width: 775px;
    
}
.div_img{
    background-image: url(../img/section_img.jpg);
    width: 100%;
    min-height: 1080px;
    background-position: center;
    background-size: cover;

}
.intro{
    background-color: var(--qora);
    padding: 100px 0px;
}
.img-1::after{
    content: '01';
    font-family: var(--r700);
    font-size: 100px;
    color: red;
    position: absolute;


}
.intro_item{
    position: relative;
    z-index: 1;
}
.intro_item::after{
    content: '01';
    position: absolute;
    font-family: var(--r700);
    color: #600E09;;
    font-size: 96px;
    left: 2%;
   top: 0;
   transition: 0.5s;
   z-index: -1;
   
    
}
.intro_item:hover::after{
  top:-35%;
}

.intro_item-last{
    position: relative;
     max-width: 360px;
     z-index: 1;
    
}
.intro_item{
    max-width: 370px;
}
.intro_item-last::after{
        content: '06';
    position: absolute;
    font-family: var(--r700);
    color: #600E09;;
    font-size: 96px;
    left: 2%;
    top: 0;
    z-index: -1;
    transition: 0.5s;

}
.intro_item-last:hover::after{
    top: -35%;
}

.catalog{
    padding: 100px 0px;
    background-color: var(--qora);
}   
.cata_text{
    max-width: 349px;
    font-family: var(--r400);
    font-size: 18px;
    line-height: 21px;
    color: var(--oq);
}
.cata_title{
    font-family: var(--r300);
    font-size: 72px;
    line-height: 84px;
    color:  #85CCDC;

}
.footer_text{
    color: var(--oq);
    font-family: var(--r400);
    font-size: 18px;
    line-height: 21px;
}
.footer{
    background-color: var(--qora);

}
.label{
    font-size: 45px;
    color: var(--oq);
    z-index: 1;
     display: none;   

}
.labell{
    font-size: 35px;
    color: var(--oq);
    display: none;

}
#menu{
    z-index: 1;
    display: none;
}
.arrow-left{
    background-image: url(../img/left.png) ;
    background-size: 100%;
   
    
}
.arrow-right{
    background-image: url(../img/right.png);
     background-size: 100%;
    
}
.carousel-control-prev,.carousel-control-next{
    opacity: 1 !important;
}

.intro_item{
    transition: 0.5s;
    position: relative;
    
  
    
    
}